@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  min-height: 100vh;
  height: auto !important;
  width: 100%;
}
